<footer align="center">
    <div align="center" style="padding: 30px;"><img src="img/new2.png" alt="" width="10%"></div>

    <div class="nav-footer" align="center">
        <a href="">HOME</a>
        <a href="">HEALTH</a>
        <a href="">DESIGN</a>
        <a href="">SPORT</a>
        <a href="">CONTACT</a>
    </div>
    <div>
        <p>
        <h3 style="padding: 30px;">Stay in touch</h3>
        </p>
        <div>
            <a href=""><img src="img/facebook-svgrepo-com.svg" alt="" width="1%"></a>
            <a href=""><img src="img/gmail-svgrepo-com.svg" alt="" width="1%"></a>
            <a href=""><img src="img/instagram-svgrepo-com.svg" alt="" width="1%"></a>
            <a href=""><img src="img/youtube-svgrepo-com.svg" alt="" width="1%"></a>
           
        </div>
    </div>
</footer>